<div v-if="tweakExports">
    <div class="title">{{tweakExports.name}}</div>

    <div class="component">
        <div class="label">YouTrack url substring</div>
        <input class="from-control"
               @input="event => (url = event.target.value)"
               :value="tweak.url" placeholder="Any url if empty"/>
    </div>

    <component :is="tweakExports.Edit" :tweak="tweak" :schema="tweakExports.schema" :changed="changed"></component>

    <div class="footer">
        <button class="btn btn-xs btn-primary" @click="save(url, config)">Save</button>
        <button class="btn btn-xs btn-default" @click="save(url, config, true)">Save and go to list</button>
        <button class="btn btn-xs btn-default" @click="cancel()">Back</button>
    </div>
</div>
