<div class="block">
  Add new tweak:

  <select #newTweackselect (change)="addEmptyTweak(newTweackselect.value); newTweackselect.value = '';">
    <option value="">Please select tweak type</option>
    <option *ngFor="let option of tweakOptions;" value="{{option.name}}">{{option.label}}</option>
  </select>

  <div>
    <app-tweak [data]="tweak" [configParams]="getConfigParams(tweak.type)" *ngFor="let tweak of tweaks;">
      <button class="btn btn-xs" (click)="removeTweak(tweak)">Remove tweak</button>
    </app-tweak>
  </div>

  <div>
    <div>Don't forget to save your changes. Any change will be applied to all youtrack tabs immediately.</div>
    <button class="btn btn-xs btn-primary" data-color="primary" (click)="saveTweaks()">Save tweaks</button>
    <button class="btn btn-xs" (click)="reload()">Reset / Resync</button>
  </div>
</div>
