@import '../editor-mixin/edit-mixin';

.tag {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #ccc;
  margin: 2px;
  white-space: nowrap;
}

.input-control {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  vertical-align: bottom;
  margin: 2px 0;

  & .input {
    outline: none;
    border: none;

    &_cursor {
      width: 5px;
    }
  }
}
