<div v-if="tweakExports">
    <div class="view-mode" @click="toggleViewMode()">
        <span v-show="!simpleView">simple view</span>
        <span v-show="simpleView">expert view</span>
    </div>
    <div class="title">{{tweakExports.name}}</div>

    <component :is="tweakExports.Edit" :tweak="tweak" :schema="tweakExports.schema" :changed="changed" :expert-view="!simpleView"></component>

    <div class="footer">
        <div class="footer__left">
            <button @click="remove()">Remove</button>
        </div>

        <div class="footer__center">
            <button @click="save(config)">Save and apply</button>
        </div>

        <div class="footer__right">
            <button @click="cancel()">Back</button>
        </div>
    </div>
</div>
