<div v-if="tweakExports">
    <div class="view-mode" @click="toggleViewMode()">
        <span v-show="!simpleView">simple view</span>
        <span v-show="simpleView">expert view</span>
    </div>
    <div class="title">{{tweakExports.name}}</div>

    <component :is="tweakExports.Edit" :tweak="tweak" :schema="tweakExports.schema" :changed="changed" :expert-view="!simpleView"></component>

    <div class="footer">
        <div class="footer__left">
            <button @click.stop="remove(index)">Remove</button>
        </div>

        <div class="footer__center">
            <button class="btn btn-xs btn-primary" @click="save(config)">Save config</button>
            <button class="btn btn-xs btn-default" @click="save(config, true)">Save and go to list</button>
        </div>

        <div class="footer__right">
            <button class="btn btn-xs btn-default" @click="cancel()">Back</button>
        </div>
    </div>
</div>
