<div>
  <div>{{data.type}}</div>
  <div><input class="config-field" type="text" [(ngModel)]="data.url" placeholder="Any youtrack url"></div>

  <div *ngFor="let configParam of configParams;">
    <div *ngIf="configParam.type === 'text'">
      <input #configFeild (focus)="focusedParam = configFeild" (blur)="focusedParam = configFeild"
             class="config-field" type="text" [placeholder]="configParam.label" [(ngModel)]="data.config[configParam.name]">
      <div *ngIf="focusedParam === configFeild" class="config-field-example">{{configParam.example}}</div>
    </div>
  </div>

  <div><ng-content></ng-content></div>
</div>
