<div class="component">
    <div class="label">{{i18n.label}}</div>

    <div class="toolbar">
        <component v-if="options.toolbar" :is="options.toolbar" :i18n="i18n" :add="add" :clear="clear" v-model="newItem"></component>
        <button @click="add()">{{i18n.add}}</button>
    </div>

    <ul class="list" v-sortable="true">
        <li class="item" :ref="getItemRef(index)" v-for="(item, index) in value" :key="index">
            <component v-if="options.view" :is="options.view" :i18n="i18n" :item="item"></component>
            <button @click="remove(index)">X</button>
        </li>
    </ul>
</div>
