<div class="component">
    <div class="label">{{i18n.label}}</div>

    <div class="toolbar">
        <component v-if="options.toolbar" :is="options.toolbar" :i18n="i18n" :add="add" :clear="clear" v-model="newItem"></component>
        <button class="btn btn-default btn-xs" @click="add()">{{i18n.add}}</button>
    </div>

    <ul class="list" v-sortable="options.sortable">
        <li class="item" :class="{'item_sortable': options.sortable}" v-for="(item, index) in list">
            <component v-if="options.view" :is="options.view" :i18n="i18n" :item="item"></component>
            <button class="btn btn-default btn-xs" @click="remove(index)">X</button>
        </li>
    </ul>
</div>
