.component {
  border: 1px solid #999;
  white-space: normal;
  text-align: left;
}

.list {
  margin: 0;
  padding: 0;

  & .item {
    list-style: none;
    background-color: #ddd;
    margin-bottom: 2px;

    &_sortable {
      cursor: move;
    }
  }
}
