<div class="component">
    {{newItem}}
    <div class="toolbar">
        <input ref="input" class="input" type="text"
               v-model="newItem.label" :placeholder="placeholder"
               @keydown.enter="add()" @keydown.esc="clear">
        <component v-if="options.toolbar" :is="options.toolbar" v-model="newItem"></component>
        <button @click="add()">{{options.addLabel}}</button>
    </div>

    <ul class="list" v-sortable>
        <li class="item" :ref="getItemRef(index)" v-for="(item, index) in value" :key="index">
            <span>{{item.label}}</span>
            <component v-if="options.view" :is="options.view" :item="item"></component>
            <button @click="remove(index)">X</button>
        </li>
    </ul>
</div>
