@import '../editor-mixin/edit-mixin';

.list {
  margin: 0;
  padding: 0;

  & .item {
    list-style: none;
    background-color: #fafafa;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 4px 0;
    padding: 2px 8px;
    line-height: 20px;

    &_sortable {
      cursor: move;
    }
  }

  & .list-control {
    float: right;
  }
}
