yt-agile-card {
    border-radius: 3px;
}

.yt-tweak-field {
    display: inline-block;
    float: right;
    margin-left: 8px;
}

.yt-tweaks-fields-area {
    overflow: auto;
    display: inline-block;
    float: right;
}

.yt-tweak-field-value-no.yt-tweak-field-value-colored {
    padding: 2px;
}

.yt-tweak-field-value-letter {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    text-align: center;
}

.yt-tweak-field-value-letter:first-child, .yt-tweak-field-value-no.yt-tweak-field-value-colored:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.yt-tweak-field-value-letter:last-child, .yt-tweak-field-value-no.yt-tweak-field-value-colored:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}