<div>
    <h1 class="active">List of tweaks</h1>
    <tweak class="list-wrapper" v-for="(tweak, index) in tweaks" :tweak="tweak" :key="tweak.id">
        <button @click="edit(index)">Edit</button>
        <button @click="remove(index)">Remove</button>
    </tweak>

    <button @click="addNewTweak('agile-board/card-fields')">Add new tweak A</button>

    <button @click="addNewTweak('agile-board/desktop-notifications')">Add new tweak B</button>


    <button @click="updateTweak()">Update tweak</button>

    <button @click="removeAllTweaks()">Clear</button>
</div>