<div>
    <h1 class="active">List of tweaks</h1>

    <div v-for="(tweak, index) in tweaks">
        <div>{{ getTweakExports(tweak).name }}</div>
        <div>{{ tweak.url }}</div>
        <component :is="getTweakExports(tweak).View" :tweak="tweak" :schema="getTweakExports(tweak).schema"></component>
        <button class="btn btn-xs btn-default" @click="edit(index)">Edit</button>
        <button class="btn btn-xs btn-default" @click="remove(index)">Remove</button>
    </div>

    <button @click="addNewTweak('agile-board/card-fields')">Add new tweak A</button>

    <button @click="addNewTweak('agile-board/desktop-notifications')">Add new tweak B</button>
</div>
