<div class="block">
  <h3>
    {{title}}
  </h3>

  <select #newTweackselect (change)="addEmptyTweak(newTweackselect.value); newTweackselect.value = '';">
    <option value="">Add new tweak</option>
    <option *ngFor="let option of tweakOptions;" value="{{option.name}}">{{option.label}}</option>
  </select>

  <button class="btn btn-xs" (click)="reload()">Reload (sync)</button>

  <div>
    <app-tweak [data]="tweak" [configParams]="getConfigParams(tweak.type)" *ngFor="let tweak of tweaks;">
      <button class="btn btn-xs" (click)="removeTweak(tweak)">Remove tweak</button>
    </app-tweak>
  </div>

  <div>
    <button class="btn btn-xs btn-primary" data-color="primary" (click)="saveTweaks()">Save tweaks</button>
  </div>
</div>
