<div>
    <div>
        <select ref="addSelect" @change="addNewTweak()">
            <option value="">Select tweak to add new one</option>
            <option :value="option.type" v-for="option in addOptions">{{option.name}}</option>
        </select>
    </div>

    <draggable v-model="tweaks" @end="dragEnd()">
        <div v-for="(tweak, index) in tweaks" class="tweak"  @click="edit(index)">
            <div><span class="title">{{ getTweakExports(tweak).name }}</span> <span v-show="tweak.url">({{ tweak.url }})</span></div>
            <component :is="getTweakExports(tweak).View" :tweak="tweak" :schema="getTweakExports(tweak).schema"></component>
        </div>
    </draggable>

    <div v-show="!tweaks.length">
        <p>You have no configured tweaks or your configuration was incompatible with new version of
        this extension and unfortunately was removed. I am so sorry and will try to avoid
        such things in future.</p>
        <p>Use menu above and add some tweaks!</p>
    </div>
</div>
