h1, h2 {
  font-weight: normal;

  &.active {
    color: red;
  }
}

.tweak {
  position: relative;
  cursor: pointer;
  margin: 8px 0;
  padding: 4px;
  background: linear-gradient(to top, #eee, #fafafa);
  border: 1px solid #999;
  border-radius: 6px;

  & .title {
    font-weight: 600;
  }

  &:hover {
    background: linear-gradient(to top, #e7e7e7, #fefefe);
  }

  & .toggle {
    position: absolute;
    top: 2px;
    right: 4px;
    color: green;
  }

  &.disabled {
    opacity: 0.6;

    & .toggle {
      color: darkred;
    }
  }
}

.import-export {
  float: right;
}
